body {
    background-image: url("images.jpg");
    height: 100vh;
    weight: 100%;
}


/* .maindiv {
    height: 100vh;
    width: 70%;
    background-color: #fff;
} */

.headerdiv {
    height: 67px;
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
}

.navbar-header {
    margin-left: -30px;
}

.imgstyle {
    width: 640px;
    margin-top: -8px;
}

.StartwestSitestyle {
    color: #556B2F !important;
    font-weight: bold;
    text-align: center;
    margin-top: -16px;
    font-size: 15px;
}


}
.stylelink {
    float: right;
    color: #8B4513 !important;
    text-decoration: underline;
    font-weight: bold;
}